<div class='container'>
  <h3>Search #{{model.search}} Photos</h3>
  
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" id="hashtag">#</span>
      <input id="search" class="form-control" ng-model="model.search" type="text" placeholder="Enter a hashtag to search..." autofocus>
    </div>
  </div>
  
  <button ng-click="model.searchTag(model.search)" ng-enter="search" class="btn btn-warning" value="Submit">Search</button>    
  
  <div id='instafeed' style="margin-top: 20px;">
  </div>  
</div>