<div class='container'>
  <h3>Search #{{model.search}} Photos</h3>
  
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" id="hashtag">#</span>
      <input class="form-control" ng-model="model.search" type="text" placeholder="Enter a hashtag to search..." autofocus>
      <input ng-if="search" ng-click="clear()" type="button" class="clearable" value="x">
    </div>
  </div>
  
  <button ng-click="model.searchTag()" ng-enter="search" class="btn btn-warning" value="Submit">Search</button>    
  
  <div id='instafeed'></div>
</div>