<div class='container'>
  <h3>Search #{{model.search}} Photos</h3>
  
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" id="hashtag">#</span>
      <input id="search" class="form-control" ng-model="model.search" type="text" placeholder="Enter a hashtag to search..." autofocus>
    </div>
  </div>
  
  <button ng-click="model.searchTag(model.search)" ng-enter="search" class="btn btn-warning" value="Submit">Search</button>    
  
  <div class="col-md-6">
    <ul class="grid" style="margin-top: 20px; list-style-type: none;">
      <li class="grid-item" ng-repeat="item in model.data">
          <img src="" ng-src="{{item.images.thumbnail.url}}">
      </li>
    </ul> 
  </div> 

  <div class="col-md-6" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-12">
        <div data-ac-chart="'bar'" data-ac-data="model.chartdata" data-ac-config="model.barconfig" class="chart" id="chart" style="height: 300px; width: 100%">
        </div>
      </div>

      <div class="col-md-12">
        <div data-ac-chart="'pie'" data-ac-data="model.chartdata" data-ac-config="model.pieconfig" class="chart" id="chart" style="height: 300px; width: 100%">
        </div>
      </div>
    </div>
  </div>
</div>